/* ドラッグ&ドロップ領域 */
#holder { border: 10px dashed #ccc; width: 250px; height: 250px; margin: 20px auto; background: #ffffff; }
#holder.hover { border: 10px dashed #333; }

/* ステータスバー */
#status.fail { width: 270px; margin: 20px; background: #ff0000; color: #fff; }
#status.success { width: 270px; margin: 20px; background: #00cc00; color: #fff; }
